html, body {
  padding: 25px 0;
  margin: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  text-align: center;
  color: #797D81;
  background: #cecece;
}

main {
  display: block;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  background: #C9B7AD;
  box-sizing: border-box;
}

h1 {
  color: #982649;
}

fieldset {
  padding: 0 0 25px 0;
  margin: 0;
  border: none;
}

input[type="text"] {
  width: 80px;
  height: 50px;
  padding: 5px;
  margin: 0 0 20px 0;
  font: normal 24px Georgia, Palatino, serif;
  text-align: center;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px 0;
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #cecece;
  text-shadow: 1px 1px 5px rgba(80, 80, 80, .8);
  border: 1px solid #982649;
  box-shadow: 0 0 1px 1px #982649;
  border-radius: 11px;
  background: linear-gradient(to bottom, #cc415f 0%, #982649 100%);
}

input[disabled] {
  background: #702636;
  box-shadow: none;
}

a { color: #982649; }